.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; /* Background color for the container */
}

.about-me {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

.about-me h2 {
    font-size: 50px;
    color: #FFBD38;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: -90px 0 90px 90px;
}

.aboutdiv {
    display: flex;
    align-items: flex-start; /* Align items to the start to move the description div higher */
    justify-content: center;
    text-align: left;
    margin-top: -20px; /* Adjust margin to move the content higher */
}

.aboutdiv img {
    width: 450px;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}

.desc {
    max-width: 100%;
    margin-left: 20px;
}

.desc p {
    margin: 20px 0 0 90px; /* Center the paragraph horizontally */
    max-width: 400px; /* Limit the width of the paragraph for better readability */
    font-size: 16px;
    color: #D3D3D3;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.details {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    margin: 10px 70px;
}

.labels, .values {
    display: flex;
    flex-direction: column;
}

.labels p, .values p {
    margin: 20px 20px;
    font-size: 16px;
    color: #D3D3D3;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.labels p strong {
    color: #fff;
    font-weight: bold;
}
