/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*new*/
    font-family: sans-serif;
}

body{
    background-color: #fff;
}

.navdiv{
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #4b79a1, #283e51);
    width: 100%;
    z-index: 1000;
   display: flex;
   justify-content: center;
}

.maindiv {
    position: relative;
    width: 100%;
    height: 90vh;
    background: linear-gradient(to right, #4b79a1, #283e51);
    display: flex; /*new*/
    justify-content: center; /*new*/
    align-items: center; /*new*/
    margin-top: 100px;
    text-align: center;
    color: #fff;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navdiv nav .logo{
    width: 150px;
    height: auto;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #76c7c0;
}

/* .resume {
    background: #00FFFF;
    color: #000;
    font-size: 11px;
    padding: 20px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 30px 0;
    border-radius: 50px;
}

.hireme {
    background: #000;
    color: #fff;
    font-size: 11px;
    padding: 19px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 30px 0;
    border-radius: 50px;
    border: 1px solid #fff;
} */

/*Corner Text Styles*/
.center-text{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
}
.center-text p{
    font-size: 30px;
    font-family: cursive;
}

.center-text span{
    font-size: 40px;
    font-family: fantasy;
    color: #00ffff;
}

.corner-text{
    position: absolute;
    color: #fff;
    font-size: 18px;
}

/* .top-left{
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.top-left p{
    font-size: 30px;
    font-family: cursive;
}

.top-left span{
    font-size: 40px;
    font-family: fantasy;
    color: #00FFFF;
} */

.bottom-left{
    bottom: 25%;
    left: 20%;
    display: flex;
    flex-direction: row;
}

.bottom-left .years{
    font-size: 42px;
    font-weight: bold;
    padding-right: 10px;
    color: #00FFFF;
}

.bottom-left .experience{
    font-size: 15px;
    line-height: 1.6;
    font-family: fantasy;
}

.bottom-right{
    bottom: 25%;
    right: 20%;
}

.bottom-right span{
    padding: 10px 20px;
    font-family: fantasy;
    font-size: 25px;
    color: #00FFFF;
}

/* Social Media CSS */
.social-links{
    text-align: center;
    padding: 20px 0;
    background-color: linear-gradient(to right, #4b79a1, #283e51);
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.social-links a{
    color: #fff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-links a:hover{
    color: #0077b5;
}

.social-links a .fa-github:hover{
    color: #333;
}

.social-links a .fa-twitter:hover{
    color: #1DA1F2;
}

.social-links a .fa-instagram:hover{
    color: #E1306C;
}

/* Media Queries for Responsiveness */
/* For screens up to 1024px */
@media (max-width: 1024px) {
    nav {
        width: 90%;
        justify-content: space-between;
    }

    .menu-icon {
        display: block;
    }

    .menu-toggle:checked ~ .nav-links {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-end;
        position: absolute;
        top: 80px;
        right: 0;
        transform: translateX(-50%);
        background: #000;
        padding: 15px 8px;
        border-radius: 8px;
    }

    nav ul {
        display: none;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 5px 0;
    }

    .bottom-left, .bottom-right{
        bottom: 20%;
        left: 10%;
        right: 10%;
        width: 80%;
        transform: translate(0);
    }

    .bottom-left{
        display: block;
        padding-bottom: 50px;
    }

    .bottom-right{
        display: block;
        bottom: 15%;
    }
}

/* For screens up to 768px */
@media (max-width: 768px) {
    nav {
        width: 90%;
    }

    .menu-icon {
        display: block;
    }

    .menu-toggle:checked ~ .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 80px;
        right: 0;
        transform: translateX(-50%);
        background: #000;
        padding: 15px 0px;
        border-radius: 8px;
    }

    nav ul {
        display: none;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 5px 0;
    }

    .center-text span{
        font-size: 36px;
    }

    .bottom-left, .bottom-right{
        bottom: 20%;
        left: 10%;
        right: 10%;
        width: 80%;
        transform: translate(0);
    }

    .bottom-left{
        display: block;
        text-align: center;
        margin-bottom: 20px;
        padding-bottom: 50px;
    }

    .bottom-right{
        display: block;
        text-align: center;
    }

    .years, .experience, .bottom-right span{
        font-size: 18px;
    }
}
