/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*new*/
    font-family: sans-serif;
}

body{
    background-color: #000;
}

.navdiv{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    z-index: 1000;
   
}

.maindiv {
    position: relative;
    width: 100%;
    height: 90vh;
    background: #000;
    display: flex; /*new*/
    justify-content: center; /*new*/
    align-items: center; /*new*/
    margin-top: 100px;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.navdiv nav .logo{
    width: 150px;
    height: auto;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

nav ul {
    display: flex;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #76c7c0;
}

.intro {
    position: absolute; /*new*/
    /* margin-left: 15%;
    margin-top: 300px; */
    top: 50%; /*new*/
    left: 15%; /*new*/
    transform: translateY(-50%); /*new*/
}

.mainpara {
    font-size: 15px;
    color: #00FFFF;
}

.titlepara {
    color: #fff;
    font-size: 65px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.titlepara span {
    color: #00FFFF;
}

.description {
    color: #fff;
    font-size: 40px;
}

.resume {
    background: #00FFFF;
    color: #000;
    font-size: 11px;
    padding: 20px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 30px 0;
    border-radius: 50px;
}

.hireme {
    background: #000;
    color: #fff;
    font-size: 11px;
    padding: 19px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 30px 0;
    border-radius: 50px;
    border: 1px solid #fff;
}

/*Corner Text Styles*/
.corner-text{
    position: absolute;
    color: #fff;
    font-size: 18px;
}

.top-left{
    top: 15%;
    left: 18%;
}

.bottom-left{
    bottom: 15%;
    left: 18%;
    display: flex;
    flex-direction: row;
}

.bottom-left .years{
    font-size: 42px;
    font-weight: bold;
    padding-right: 10px;
}

.bottom-left .experience{
    font-size: 18px;
    line-height: 1.2;
}

.top-right{
    top: 15%;
    right: 18%;
}

.bottom-right{
    bottom: 15%;
    right: 18%;
}

.bottom-right span{
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

/*Image and Curve Styles*/
.image-container{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}

.image-curve{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.profile-image{
    position: relative;
    width: 60%;
    height: auto;
    z-index: 2;
}

/* .additional-content{
    background: #333;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
} */

/* Media Queries for Responsiveness */
/* For screens up to 1024px */
@media (max-width: 1024px) {
    nav {
        width: 90%;
        justify-content: space-between;
    }

    .menu-icon {
        display: block;
    }

    .menu-toggle:checked ~ .nav-links {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: flex-end;
        position: absolute;
        top: 80px;
        right: 0;
        transform: translateX(-50%);
        background: #000;
        padding: 15px 8px;
        border-radius: 8px;
    }

    nav ul {
        display: none;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 5px 0;
    }

    .intro {
    /*  margin-left: 10%;
        margin-top: 20%; */
        left: 10%;
    }

    .titlepara {
        font-size: 50px;
    }

    .description {
        font-size: 30px;
    }
}

/* For screens up to 768px */
@media (max-width: 768px) {
    nav {
        width: 90%;
    }

    .menu-icon {
        display: block;
    }

    .menu-toggle:checked ~ .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 80px;
        right: 0;
        transform: translateX(-50%);
        background: #000;
        padding: 15px 0px;
        border-radius: 8px;
    }

    nav ul {
        display: none;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 5px 0;
    }

    .intro {
    /*    margin-left: 15%;
        margin-top: 30%; */
        left: 15%;
        top: 30%;
    }

    .titlepara {
        font-size: 40px;
    }

    .description {
        font-size: 25px;
    }

    .intro a {
        font-size: 10px;
        padding: 15px 15px;
    }

    .image-curve{
        width: 200px;
        height: 200px;
    }

    .profile-image{
        width: 60%;
    }
}
