*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.maindiv{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000000;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    
}

.menu-icon{
    display: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

nav ul{
    display: flex;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
    font-size: 18px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover{
    color:#FFBD38;
}

.intro{
    margin-left: 35%;
    margin-top: 10%;
}

.mainpara{
    font-size: 15px;
    color: #FFBD38;
}

.titlepara{
    color: #fff;
    font-size: 65px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.titlepara span{
    color: #FFBD38;
}

.description{
    color: #fff;
    font-size: 40px;
}

.resume{
    background: #FFBD38;
    color: #000;
    font-size: 11px;
    padding: 20px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 30px 0;
    border-radius: 50px;
}

.hireme{
    background: #000;
    color: #fff;
    font-size: 11px;
    padding: 19px 20px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    margin: 30px 0;
    border-radius: 50px;
    border: 1px solid #fff;
}

/* .images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 30%;
    bottom: 0;
} */


/* Media Queries for Responsiveness */
/*For screens up to 1024px*/
@media (width: 1024px){
    nav ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        display: none;
    }

    nav ul li{
        margin: 0 10px;
    }

    .intro{
        margin-left: 10%;
        margin-top: 20%;
    }

    .titlepara{
        font-size: 50px;
    }

    .description{
        font-size: 30px;
    }

    /* .images{
        width: 60%;
        height: 50%;
        right: 50px;
    }

    .images img{
        left: 0;
    } */
}

/*For screens up to 768px*/
@media(max-width: 768px){
    nav{
        width: 90%;
    }

    nav ul li{
        margin: 0 8px;
    }

    .intro{
        margin-left: 15%;
        margin-top: 30%;
    }

    .titlepara{
        font-size: 40px;
    }

    .description{
        font-size: 25px;
    }

    .intro a{
        font-size: 10px;
        padding: 15px 15px;
    }

    /* .images{
        display: none;
    } */
}